@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$primary-font-family: "Poppins", sans-serif;
$primary-color: #2166e6;
$primary-color-75: rgba(33, 102, 230, 0.75);
$primary-color-50: rgba(33, 102, 230, 0.5);
$primary-color-25: rgba(33, 102, 230, 0.25);
$primary-dark: #262f33;
$primary-dark-75: rgba(33, 47, 51, 0.75);
$primary-dark-50: rgba(33, 47, 51, 0.5);
$primary-dark-25: rgba(33, 47, 51, 0.25);
$primary-light: #e7ebee;
$primary-red: #d35249;
$primary-green: #279474;
$primary-gray: #586479;
$bg-color: #f8fafb;

$base-gap: 24px;
$base-padding: 1rem;

$font-size: 16px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 20px;
$font-size-lg: 24px;
$font-size-xl: 28px;
$font-size-xxl: 32px;
